@model MilkyProject.WebUI.Dtos.EmployeeDto.UpdateEmployeeDto

@{
    ViewData["Title"] = "UpdateEmployee";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-md-6 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Ekip Üyesi Güncelle</h4>

            <form class="forms-sample" method="post" action="/Employee/UpdateEmployee/">
                <div class="form-group">

                    <input type="text" class="form-control" asp-for="@Model.employeeId" name="employeeId" placeholder="Ekip Üyesi Id" readonly />
                </div>
                <div class="form-group">
                    <label>Ad Soyad</label>
                    <input type="text" class="form-control" asp-for="@Model.nameSurname" name="nameSurname" placeholder="Ad Soyad">
                </div>
                <div class="form-group">
                    <label>Görev</label>
                    <input type="text" class="form-control" asp-for="@Model.job" name="job" placeholder="Görev">
                </div>
                <div class="form-group">
                    <label>Görsel</label>
                    <input type="text" class="form-control" asp-for="@Model.imageUrl" name="imageUrl" placeholder="Görsel">
                </div>
                <button type="submit" class="btn btn-primary mr-2">Güncelle</button>
                <a href="/Employee/EmployeeList/" class="btn btn-light">İptal</a>
            </form>
        </div>
    </div>
</div>

