@model MilkyProject.WebUI.Dtos.CategoryDtos.CreateCategoryDto

@{
    
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-md-6 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Kategori Ekle</h4>
            
            <form class="forms-sample" method="post" action="/Category/CreateCategory/">
                <div class="form-group">
                    <label>Kategori Adı</label>
                    <input type="text" class="form-control" asp-for="@Model.CategoryName" name="CategoryName" placeholder="Kategori Adı">
                </div>
                <button type="submit" class="btn btn-primary mr-2">Kaydet</button>
                <a href="/Category/Index/" class="btn btn-light">İptal</a>
            </form>
        </div>
    </div>
</div>