@model List<MilkyProject.EntityLayer.Concrete.Testimonial>

<div class="col-md-6 stretch-card grid-margin">
    <div class="card">
        <div class="card-body">
            <p class="card-title">Yorumlar</p>
            <ul class="icon-data-list">
                @foreach (var item in Model)
                {
                    <li>
                        <div class="d-flex">
                            <img src="@item.ImageUrl" alt="user">
                            <div>
                                <p class="text-info mb-1">@item.NameSurname</p>
                                <p class="mb-0">@item.Comment</p>
                                <small>@item.Profession</small>
                            </div>
                        </div>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>