@model List<MilkyProject.WebUI.Dtos.EmployeeDto.ResultEmployeeDto>

<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
            <p class="section-title bg-white text-center text-primary px-3">Ekibimiz</p>
            <h1 class="mb-5">Tecrübeli Ekip Üyelerimiz</h1>
        </div>
        <div class="row g-4">
            @foreach(var item in Model)
            {
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="team-item rounded p-4">
                    <img class="img-fluid rounded mb-4" src="@item.imageUrl" alt="">
                    <h5>@item.nameSurname</h5>
                    <p class="text-primary">@item.job</p>
                        @await Component.InvokeAsync("DefaultSocialMediaComponentPartial")

                </div>
            </div>
            }
        </div>
    </div>
</div>