
<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="/Dashboard/Index/">
                <i class="icon-grid menu-icon"></i>
                <span class="menu-title">Dashboard</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Product/ProductList/">
                <i class="icon-grid menu-icon"></i>
                <span class="menu-title">Ürünler</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Category/Index/">
                <i class="icon-grid menu-icon"></i>
                <span class="menu-title">Kategoriler</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Service/ServiceList/">
                <i class="icon-grid menu-icon"></i>
                <span class="menu-title">Hizmetler</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Employee/EmployeeList/">
                <i class="icon-grid menu-icon"></i>
                <span class="menu-title">Ekip</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Testimonial/TestimonialList/">
                <i class="icon-grid menu-icon"></i>
                <span class="menu-title">Referanslar</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Message/MessageList/">
                <i class="icon-grid menu-icon"></i>
                <span class="menu-title">Mesajlar</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Contact/ContactList/">
                <i class="icon-grid menu-icon"></i>
                <span class="menu-title">İletişim</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/About/AboutList/">
                <i class="icon-grid menu-icon"></i>
                <span class="menu-title">Hakkımızda</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Newsletter/NewsletterList/">
                <i class="icon-grid menu-icon"></i>
                <span class="menu-title">E-Bülten</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Slider/SliderList/">
                <i class="icon-grid menu-icon"></i>
                <span class="menu-title">Slider</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/WhyUs/WhyUsList/">
                <i class="icon-grid menu-icon"></i>
                <span class="menu-title">NedenBiz</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/SocialMedia/SocialMediaList/">
                <i class="icon-grid menu-icon"></i>
                <span class="menu-title">Sosyal Medya</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Gallery/GalleryList/">
                <i class="icon-grid menu-icon"></i>
                <span class="menu-title">Galeri</span>
            </a>
        </li>
    </ul>
</nav>