@model List<MilkyProject.WebUI.Dtos.ServiceDto.ResultServiceDto>


@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/UI/Views/Shared/_UILayout.cshtml";
}


<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto pb-4 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
            <p class="section-title bg-white text-center text-primary px-3">Hizmetlerimiz</p>
            <h1 class="mb-5">Sizlere Çeşitli Hizmetler Sunuyoruz</h1>
        </div>
        <div class="row gy-5 gx-4">
            @foreach (var item in Model)
            {
                <div class="col-lg-4 col-md-6 pt-5 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="service-item d-flex h-100">
                        <div class="service-img">
                            <img class="img-fluid" src="@item.imageUrl" alt="">
                        </div>
                        <div class="service-text p-5 pt-0">
                            <div class="service-icon">
                                <img class="img-fluid rounded-circle" src="@item.smallImageUrl" alt="" style="width: 100%; height: 100%; object-fit: cover;">
                            </div>
                            <h5 class="mb-3">
                                @item.title
                            </h5>
                            <p class="mb-4">@item.description</p>
                            <a class="btn btn-square rounded-circle" href=""><i class="bi bi-chevron-double-right"></i></a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
