@model MilkyProject.WebUI.Dtos.ProductDto.CreateProductDto
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="col-md-6 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Ürün Ekle</h4>

            <form class="forms-sample" method="post" action="/Product/CreateProduct/" enctype="multipart/form-data">
               
                <div class="form-group">
                    <label>Ürün Adı</label>
                    <input type="text" class="form-control" asp-for="@Model.productName" name="productName" placeholder="Ürün Adı">
                </div>
                <div class="form-group">
                    <label>Eski Fiyat</label>
                    <input type="text" class="form-control" asp-for="@Model.oldPrice" name="oldPrice" placeholder="Eski Fiyat">
                </div>
                <div class="form-group">
                    <label>Yeni Fiyat</label>
                    <input type="text" class="form-control" asp-for="@Model.newPrice" name="newPrice" placeholder="Yeni Fiyat">
                </div>
                <div class="form-group">
                    <label>Kategori</label>
                    @Html.DropDownListFor(x => x.CategoryId, (List<SelectListItem>)ViewBag.CategoryList, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label>Ürün Görseli</label>
                    <input style="height:100%" type="file" class="form-control" id="ImageUrl" name="imageUrl" accept=".jpg,.png,.jpeg" />
                </div>
                <button type="submit" class="btn btn-primary mr-2">Ekle</button>
                <a href="/Product/ProductList/" class="btn btn-light">İptal</a>
            </form>
        </div>
    </div>
</div>